<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.module_start">

    <application>
        <activity android:name=".welcome.view.WelcomeActivity" />
        <activity android:name=".ad.view.AdActivity" />
        <activity android:name=".login.view.LoginActivity" />
        <activity android:name=".main.mvp.view.MainActivity" />
        <activity android:name=".main.personal.mvp.view.SettingActivity"></activity>
    </application>

</manifest>