<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.module_arouter_demo">

    <application
        android:name="cc.catface.app_base.ARouterApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="cc.catface.module_arouter_demo.ARouterDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>