<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.api">

    <application
        android:name="cc.catface.app_base.ARouterApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.anim_activity_transfer.activity.TransferMainActivity" />
        <activity
            android:name=".view.anim_activity_transfer.activity.AnimTransferRightActivity"
            android:theme="@style/SwipeTheme_left2right" />
        <activity
            android:name=".view.anim_activity_transfer.activity.AnimTransferLeftActivity"
            android:theme="@style/SwipeTheme_left2right" />

    </application>

</manifest>