<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.module_apis">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity android:name=".pdf.PDFActivity" />
        <activity android:name=".nano_httpd.view.ServerActivity" />
        <activity android:name=".load_img.LoadImgActivity" />
        <activity android:name=".brvah.view.BRVAH_Activity" />
        <activity android:name=".memo.view.MemoActivity" />
        <activity android:name=".flow_layout.DemoFlowLayoutActivity" />
        <activity android:name=".sticky_list_headers.DemoStickyListActivity" />
        <activity android:name=".ApisHolderActivity" />
    </application>

</manifest>