<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.work_demo">

    <application>
        <activity android:name="cc.catface.work_demo.WorkDemoMainActivity" />
        <activity android:name="cc.catface.work_demo.WorkDemoHolderActivity" />
        <activity android:name="cc.catface.work_demo.swipe_change_page.SwipeChangePageActivity" />
    </application>

</manifest>
