<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.api">

    <application>

        <activity android:name=".view.DemoViewHolderActivity" />
        <activity android:name=".view.anim_activity_transfer.activity.TransferMainActivity" />
        <activity
            android:name=".view.anim_activity_transfer.activity.AnimTransferRightActivity"
            android:theme="@style/SwipeTheme_left2right" />
        <activity
            android:name=".view.anim_activity_transfer.activity.AnimTransferLeftActivity"
            android:theme="@style/SwipeTheme_right2left" />
        <activity
            android:name=".view.anim_activity_transfer.activity.AnimTransferBottomActivity"
            android:theme="@style/SwipeTheme_top2bottom" />
        <activity
            android:name=".view.anim_activity_transfer.activity.AnimTransferTopActivity"
            android:theme="@style/SwipeTheme_bottom2top" />

        <activity android:name=".view.anim_activity_transfer.test.MainActivity" />
        <activity android:name=".view.anim_activity_transfer.test.Num2Activity" />
        <activity android:name=".hardware.camerax.CameraXActivity" />
        <activity
            android:name=".ApiHolderActivity"
            android:windowSoftInputMode="adjustPan" />

    </application>
</manifest>
