<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.catface.iflytek">

    <application>
        <activity android:name=".iflytek.IflytekIndexActivity" >     <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".iflytek.IflytekIatActivity" />
        <activity android:name=".iflytek.IflytekTtsActivity" />
        <activity android:name=".AiuiActivity" />
        <activity android:name=".iflytek.OCRPrintWebActivity" />

        <service android:name=".service.AIUIServer" />
    </application>
</manifest>